<%- include('../header'); %>
<body>
    <container class="jumbotron">

<nav>
    <a href="/admin"><h3>Home</h3></a>
</nav>

<h1>Sales!</h1>
    </container>
</br>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div>
    <% orders.forEach(function(order){ %>
        <ul class="thumbnail">
            <div>
                <h3>order-id# - <%= order.order_id %></h1>
                <h4><b>order-name</b> - <%- order.order_name %></h6>
                <h3> ₹ <%=  order.amount %> </h3>

            </div>
            </ul>
    <% }) %> 

    <div class="thumbnail"><h1>Total sales - <%=amount%></h1></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>